@tailwind base;
@tailwind components;
@tailwind utilities;

.finalTip{
    width: calc(100% - 3rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}